.img-thumbnail {
    margin: 1.5625rem;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 1.5625rem;
}

.card-footer {
    padding: 0.625rem 0.9375rem;
    background-color: #fff;
    border-top: none;
}